@font-face {
  font-family: "Ownglyph_Dailyokja-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/Ownglyph_Dailyokja-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

p,
h1 {
  font-family: serif;
}
span {
  font-family: "Ownglyph_Dailyokja-Rg";
  font-size: 2em;
  color: red;
}
* {
  font-family: "Ownglyph_Dailyokja-Rg";
  font-size: 1.5em;
  color: blue;
}
h1 {
  border-bottom: 1px solid gray;
  color: red;
}
body {
  font-size: large;
  background-color: rgb(236, 167, 167);
}
